body {
  background: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: auto;
  font-size: 20px;
}

header h1 {
  -webkit-text-stroke: green 4px;
  color: transparent;
  font-weight: 900;
  margin-top: 85px;
  font-size: 60px;
  margin-left margin-right: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 2%;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 0;

}

#links {
  background: white;
  margin-left margin-right: auto;
  width: 100%;
  padding-bottom: 2%;
}

footer a {
  margin-left: 10%;
  margin-right: 10%;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: #4a4a4a;
}

a:hover {
  color: lightgrey;
}

nav {
  text-align: center;
}

nav a {
  margin-left: 10%;
  margin-right: 10%;
}

section#about {
  margin-top: 50px;
  padding-bottom: 50%; /*change bottom padding once content added*/
}

section a {
  padding-left: 10%;
  padding-right: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 12px;
}
